quarkus:
  datasource:
    jdbc:
      url: "jdbc:sqlite:data/db/local.db"

monitor:
  k8s-configs:
    clusters:
      - id: my-cluster
        name: My cluster (preprod)
        config-path: /path/to/kubeconfig
        namespace: my-namespace
        profile-id: aws-c5a-4xlarge

backup:
  enabled: true
  cron: "0 0 * * * ?"  # hourly
  s3:
    key-prefix: sqlite/
    endpoint: http://localhost:8333
    bucket: wombat-bucket
    access-key: admin
    secret-key: secret
