quarkus:
  datasource:
    jdbc:
      url: "jdbc:sqlite:data/db/local.db"

monitor:
  kubernetes-configs:
    my-namespace:
      namespace: "my-namespace"

backup:
  enabled: true
  cron: "0 0 * * * ?"  # hourly
  s3:
    key-prefix: sqlite/
    endpoint: http://localhost:8333
    bucket: wombat-bucket
    access-key: admin
    secret-key: secret

profile:
  server:
    enable: true
    provider: aws
    instance-type: "c5a.16xlarge"
    location: "FRA"
    lifespan: 43800