quarkus:
  datasource:
    jdbc:
      url: "jdbc:sqlite:data/db/local.db"
  rest-client:
    boavizta-api-url:
      uri: "http://localhost:5001/v1/"
    ecologits-api-url:
      uri: "http://localhost:5002/"

monitor:
  environments-file: monitored/monitored-environments-dev.yaml

backup:
  enabled: true
  cron: "0 0 * * * ?"  # hourly
  s3:
    key-prefix: sqlite/
    endpoint: http://localhost:8333
    bucket: wombat-bucket
    access-key: admin
    secret-key: secret
